@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<ul>
    <li>C#</li>
    <li>Javascript</li>
    <li>Jquery</li>
    <li>T-SQL</li>
    <li>LINQ</li>
    <li>Razor</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Bootstrap</li>
</ul>