@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Here is some Biograph of Mine....</p><br/>
<p>I'm Born at 1997/07/10....19 Years old,I've been at Study Collage In Linguistic Field(Chinese).</p>
<p>I'm Passionate in Programming Lately,Learn @Html.ActionLink("COUPLE","About") of Programming Languages.</p>
<p>Here is My CV Profile @Html.ActionLink("Click Me!","Download","Home")</p>
<p>I Love To Learn More Programming Languages.That's About Me Thanks...</p>
<address>
    <abbr title="Phone">P:</abbr>
    0896-2154-9508
</address>

<address>
    <strong>Contact Me:</strong>   <a href="mailto:darwinyo91@gmail.com">darwinyo91@gmail.com</a><br />
</address>