@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome To My MVC Project</h2>
    <p class="lead">This Project Is Under Construction</p>
    <p class="lead"> You need to Login to use this Webpage.</p>
    <p><a href="~/Account/Login" class="btn btn-default btn-lg">Login &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>What Programming Languages this Page Uses?? </h2>
        <p>
            This Page Created By C#,HTML,Bootstrap,LINQ,And Much More!!!.
        </p>
        <p><a class="btn btn-default" href="~/Home/About">More &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>About Me</h2>
        <p>This is My Details</p>
        <p><a class="btn btn-default" href="~/Home/Contact">Learn more &raquo;</a></p>
    </div>
</div>